h1 {
    color: rgb(42, 167, 125);
}

body {
    background-color: #e7e6ea;
}

.back_to_top {
    font-size: 48px;
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    // background: #f5f5f5;
    color: #3a70e0;
    cursor: pointer;
    border-radius: 2px;
    display: none;
    .material-icons {
        font-size: 60px;
    }
}

.back_to_top:hover {
    color: #00b8ff;
}

.back_to_top-show {
    display: block;
}
